html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

body {
  background-color: #F5F5F1; }

header {
  width: 100%;
  display: block;
  height: 100px;
  background-color: #FFFFFF;
  border-bottom: 1px solid #E1E3DF;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.4); }
  header::after {
    clear: both;
    content: "";
    display: table; }

section.mainContent {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  section.mainContent::after {
    clear: both;
    content: "";
    display: table; }
  section.mainContent .resultsBar {
    height: 50px;
    padding-top: 28px; }
    section.mainContent .resultsBar .showResults {
      margin-left: 70px; }
    section.mainContent .resultsBar .allCats {
      margin-left: 180px; }
    section.mainContent .resultsBar .sortBy {
      margin-left: 450px; }
  section.mainContent .sideBar {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    section.mainContent .sideBar:last-child {
      margin-right: 0; }
    section.mainContent .sideBar .catagoriesContainer {
      background-color: white;
      border-left: 1px solid #E1E3DF;
      border-top: 1px solid #E1E3DF;
      border-right: 1px solid #E1E3DF;
      border-bottom: 1px solid #CBCCC9;
      margin-bottom: 25px;
      margin-left: 70px;
      border-radius: 5px;
      padding-right: 45px;
      padding-bottom: 15px;
      width: 80%; }
    section.mainContent .sideBar a {
      display: block;
      text-decoration: none;
      color: #0192B5;
      margin-left: 35px;
      margin-top: 10px; }
    section.mainContent .sideBar .searchRefine {
      background-color: white;
      border-left: 1px solid #E1E3DF;
      border-top: 1px solid #E1E3DF;
      border-right: 1px solid #E1E3DF;
      border-bottom: 1px solid #CBCCC9;
      margin-bottom: 25px;
      margin-left: 70px;
      border-radius: 5px;
      padding-right: 45px;
      padding-bottom: 15px;
      width: 80%; }
  section.mainContent .itemColumns {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%; }
    section.mainContent .itemColumns:last-child {
      margin-right: 0; }
    section.mainContent .itemColumns .itemBox {
      max-width: 68em;
      margin-left: auto;
      margin-right: auto;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 30.90859%;
      height: 220px;
      background-color: white;
      border-left: 1px solid #E1E3DF;
      border-top: 1px solid #E1E3DF;
      border-right: 1px solid #E1E3DF;
      border-bottom: 1px solid #CBCCC9;
      margin-bottom: 25px;
      border-radius: 5px; }
      section.mainContent .itemColumns .itemBox::after {
        clear: both;
        content: "";
        display: table; }
      section.mainContent .itemColumns .itemBox:last-child {
        margin-right: 0; }
    section.mainContent .itemColumns img {
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      section.mainContent .itemColumns img:last-child {
        margin-right: 0; }
    section.mainContent .itemColumns h1 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      display: inline-block;
      font-size: 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-top: 5px;
      margin-left: 5px;
      margin-bottom: -5px;
      padding-right: 18px; }
      section.mainContent .itemColumns h1:last-child {
        margin-right: 0; }
    section.mainContent .itemColumns h2 {
      display: inline-block;
      font-size: 12px;
      color: #B2B2B2;
      margin-top: 15px;
      margin-left: 5px;
      padding-right: 18px;
      width: 45%; }
    section.mainContent .itemColumns h3 {
      color: #7ABE4A;
      display: inline-block;
      font-size: 11px;
      margin-top: 17px;
      margin-left: 5px;
      float: right;
      width: 30%; }
    section.mainContent .itemColumns .itemBox:last-child {
      margin-right: 2.35765%; }

footer {
  width: 100%;
  display: block;
  background-color: #F5F5F1;
  border-top: 1px solid #E1E3DF; }
  footer::after {
    clear: both;
    content: "";
    display: table; }
