html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

body {
  background-color: #F5F5F1; }

header {
  width: 100%;
  display: block;
  height: 75px;
  background-color: #FFFFFF;
  border-bottom: 1px solid #E1E3DF;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.4); }
  header::after {
    clear: both;
    content: "";
    display: table; }
  header .logo {
    margin-left: 200px;
    display: inline-block; }
  header form {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 65px; }
    header form .searchBar {
      height: 30px;
      width: 250px; }
    header form .searchButton {
      font-size: 15px;
      font-weight: bold;
      color: white;
      height: 29px;
      width: 75px;
      background-color: #0192B5;
      margin-left: -5px;
      outline: 0px;
      border: 0px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px; }
  header .browse {
    vertical-align: top;
    outline: 0px;
    height: 29px;
    display: inline-block;
    width: 75px;
    margin-top: 27px;
    margin-left: 40px;
    border-radius: 5px; }

.home {
  display: inline-block;
  float: right;
  margin-top: 20px;
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid #B2B2B2; }
  .home h3 {
    font-size: 25px;
    display: inline-block;
    text-align: center; }
  .home .fa {
    padding-left: 7px; }

.favorites {
  display: inline-block;
  float: right;
  margin-top: 20px;
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid #B2B2B2; }
  .favorites h3 {
    text-align: center;
    font-size: 25px;
    display: inline-block; }
  .favorites .fa {
    padding-left: 16px; }

.you {
  display: inline-block;
  float: right;
  margin-top: 20px;
  margin-right: 10px;
  padding-right: 12px;
  border-right: 1px solid #B2B2B2; }
  .you h3 {
    font-size: 25px;
    display: inline-block; }
  .you .fa {
    padding-left: 4px; }

.cart {
  display: inline-block;
  float: right;
  margin-top: 20px;
  margin-right: 170px; }
  .cart h3 {
    font-size: 25px;
    display: inline-block; }
  .cart .fa {
    padding-left: 2px; }

section.mainContent {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  section.mainContent::after {
    clear: both;
    content: "";
    display: table; }
  section.mainContent .resultsBar {
    height: 50px;
    padding-top: 28px; }
    section.mainContent .resultsBar .showResults {
      margin-left: 70px; }
    section.mainContent .resultsBar .allCats {
      margin-left: 180px; }
      section.mainContent .resultsBar .allCats a {
        text-decoration: none;
        color: #0192B5; }
    section.mainContent .resultsBar .sortBy {
      margin-left: 450px; }
  section.mainContent .sideBar {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    section.mainContent .sideBar:last-child {
      margin-right: 0; }
    section.mainContent .sideBar .catagoriesContainer {
      background-color: white;
      border-left: 1px solid #E1E3DF;
      border-top: 1px solid #E1E3DF;
      border-right: 1px solid #E1E3DF;
      border-bottom: 1px solid #CBCCC9;
      margin-bottom: 25px;
      margin-left: 70px;
      border-radius: 5px;
      padding-right: 45px;
      padding-bottom: 15px;
      width: 80%; }
    section.mainContent .sideBar a {
      display: block;
      text-decoration: none;
      color: #0192B5;
      margin-left: 35px;
      margin-top: 10px; }
    section.mainContent .sideBar .searchRefine {
      background-color: white;
      border-left: 1px solid #E1E3DF;
      border-top: 1px solid #E1E3DF;
      border-right: 1px solid #E1E3DF;
      border-bottom: 1px solid #CBCCC9;
      margin-bottom: 25px;
      margin-left: 70px;
      border-radius: 5px;
      padding-right: 45px;
      padding-left: 18px;
      padding-bottom: 15px;
      width: 80%; }
      section.mainContent .sideBar .searchRefine a {
        display: inline-block;
        text-decoration: none;
        width: 75%;
        color: #0192B5;
        margin-left: 10px;
        margin-top: 10px; }
      section.mainContent .sideBar .searchRefine .rButton {
        width: 20px;
        height: 20px;
        display: inline-block;
        border-radius: 50%; }
      section.mainContent .sideBar .searchRefine .oOp {
        width: 80%; }
      section.mainContent .sideBar .searchRefine h3 {
        margin-top: 15px;
        margin-bottom: 15px; }
      section.mainContent .sideBar .searchRefine hr {
        margin-top: 20px; }
      section.mainContent .sideBar .searchRefine .min {
        width: 30%;
        display: inline-block; }
      section.mainContent .sideBar .searchRefine h4 {
        display: inline-block; }
      section.mainContent .sideBar .searchRefine .max {
        width: 30%;
        display: inline-block; }
      section.mainContent .sideBar .searchRefine .cOne {
        background-color: red;
        width: 20px;
        height: 20px; }
      section.mainContent .sideBar .searchRefine .cTwo {
        background-color: orange;
        width: 20px;
        height: 20px; }
      section.mainContent .sideBar .searchRefine .cThree {
        background-color: yellow;
        width: 20px;
        height: 20px; }
      section.mainContent .sideBar .searchRefine .cFour {
        background-color: green;
        width: 20px;
        height: 20px; }
      section.mainContent .sideBar .searchRefine .cFive {
        background-color: skyblue;
        width: 20px;
        height: 20px; }
      section.mainContent .sideBar .searchRefine .cSix {
        background-color: purple;
        width: 20px;
        height: 20px; }
      section.mainContent .sideBar .searchRefine .cSeven {
        background-color: black;
        width: 20px;
        height: 20px; }
      section.mainContent .sideBar .searchRefine .cEight {
        background-color: white;
        width: 20px;
        height: 20px; }
  section.mainContent .itemColumns {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%; }
    section.mainContent .itemColumns:last-child {
      margin-right: 0; }
    section.mainContent .itemColumns .itemBox {
      max-width: 68em;
      margin-left: auto;
      margin-right: auto;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 30.90859%;
      height: 220px;
      background-color: white;
      border-left: 1px solid #E1E3DF;
      border-top: 1px solid #E1E3DF;
      border-right: 1px solid #E1E3DF;
      border-bottom: 1px solid #CBCCC9;
      margin-bottom: 25px;
      border-radius: 5px; }
      section.mainContent .itemColumns .itemBox::after {
        clear: both;
        content: "";
        display: table; }
      section.mainContent .itemColumns .itemBox:last-child {
        margin-right: 0; }
    section.mainContent .itemColumns img {
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      section.mainContent .itemColumns img:last-child {
        margin-right: 0; }
    section.mainContent .itemColumns h1 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      display: inline-block;
      font-size: 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-top: 5px;
      margin-left: 5px;
      margin-bottom: -5px;
      padding-right: 18px; }
      section.mainContent .itemColumns h1:last-child {
        margin-right: 0; }
    section.mainContent .itemColumns h2 {
      display: inline-block;
      font-size: 12px;
      color: #B2B2B2;
      margin-top: 15px;
      margin-left: 5px;
      padding-right: 18px;
      width: 45%; }
    section.mainContent .itemColumns h3 {
      color: #7ABE4A;
      display: inline-block;
      font-size: 11px;
      margin-top: 17px;
      margin-left: 5px;
      float: right;
      width: 30%; }
    section.mainContent .itemColumns .itemBox:last-child {
      margin-right: 2.35765%; }

footer {
  width: 100%;
  display: block;
  background-color: #F5F5F1;
  border-top: 1px solid #E1E3DF; }
  footer::after {
    clear: both;
    content: "";
    display: table; }
