@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';

body {
	background-color: #F5F5F1;
}

.containerAll {
	@include outer-container(100%);
}

header {
	@include fill-parent();
	@include row(table);
	height: 100px;
	background-color: #FFFFFF;
}


.sideBar {
	@include span-columns(4);
	@include shift(1);
	@include pad();
	@include omega();
}

.catagoriesContainer {
//	@include span-columns(3);
	background-color: white;
	border-left: 1px solid #E1E3DF;
 	border-top: 1px solid #E1E3DF;
 	border-right: 1px solid #E1E3DF;
 	border-bottom:  1px solid #CBCCC9;
	margin-bottom: 25px;
	border-radius: 5px;
	
		a {
			text-decoration: none;
		}
}

.catagories {
	list-style: none;
}

.catagory {
	
	a{
			text-decoration: none;
	}

}

.itemColumns {
	@include span-columns(8);
	@include reset-display;
	@include pad();
}


.itemBox {
	@include span-columns(3.5);
	height: 200px;
	background-color: white;
	border-left: 1px solid #E1E3DF;
 	border-top: 1px solid #E1E3DF;
 	border-right: 1px solid #E1E3DF;
 	border-bottom:  1px solid #CBCCC9;
	margin-bottom: 25px;
	border-radius: 5px;

	
	img {
		border-top-right-radius: 5px;
		border-top-left-radius: 5px;
		width: 100%;

	}
	
	h1 {
		width: 100%;
		display: inline-block;
		font-size: 10px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		margin-left: 5px;
		margin-bottom: -5px;
		padding-right: 18px;
	}
	
	h2 {
		display: inline-block;
		font-size: 8px;
		color: #B2B2B2;
		margin-left: 5px;
		padding-right: 18px;
		max-width: 50%;
	}
	
	h3 {
		color: #7ABE4A;
		display:  inline-block;
		font-size: 8px;
		margin-left: 5px;
		padding-right: 18px;
		float: right;
		max-width: 50%;
	}
}

.itemBox:last-child {
	margin-right: 2.35765%;
}